*{
    padding: 0%;
    margin: 0%;
    border: border-box;
    font-family: cursive;
}
body{
    display: flex;
   align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    overflow-y: hidden;
}

header{
  border: px solid #7d7b7b;
  position: fixed;
  top: 0;
  left: -10px;
  width: 110%;
  padding: 5px 0px ;
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  z-index:99;
}


.u{
    margin-top: -10px;
    color: #010d16;
    margin-left: -100px;
}
img{
    width: 500px;
    height: 500px;
    margin-top: -60px;
    margin-left: -200px;
}
.navigation svg{
    margin-left: 45pc;
    color:#010d16;
    width: 23px;
    height: 23px;
}
.navigation a.navi {
    position: relative;
    font-size: 2.0em;
    color: #010d16;
    text-decoration: none;
    font-weight: 500;
    margin-left: 50px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.navigation a.navi::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background:#010d16;
    border-radius: 0px;
    transform-origin: rigth;
    transform: scalex(0);
    transition: transform .1s;


}
.navigation a.navi:hover::after{
    transform: scaleX(1);
    transform-origin: center;
}

.btn2 .buttontwo{
    width:100px;
    height:30px;
    color:#010d16;
    text-decoration: none;
    background-color: transparent;
    border: 2px solid #0a0a0a;
    margin-left: 6px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    cursor: pointer;
    font-size: 14px;
    background-color: transparent;
    border-radius:0pc;
    transition: .2s;
}
.btn2 .buttontwo:hover{
  color: #ffffff;
  background-color:#010d16 ;
 
}
section{
   margin: 175px;
   font-family: 'Courier New', Courier, monospace;
   font-size: 45px;
   color:aliceblue;
}


